@import './variables.scss';
@import './sidebar.scss';

html {
    scroll-behavior: smooth;
}

// navbar search box

.navbar_block .search {    max-width: 576px; width: 100%; 
}
.navbar_block  .search .search_field .search_item {
  min-height: 48px; padding: 10px 40px; box-sizing: border-box; border-radius: 22px; background-image: url(/assets/images/Search.png); background-repeat: no-repeat; background-size: 20px; background-position: 2%; outline: none;  background-color: #F9FAFC; width: 100%; font-size: 14px; line-height: 22px;color: #3D4756;border: 0px;
}

.navbar_block {display: flex; align-items: center; grid-gap: 60px; padding-block: 19px;background-color: #fff;}